:root {
  --text-dark: #000;
  --project-title-font-size: 2em;
  --project-thumb-width: 80%;
  --project-description-font-size: 1em;
  --project-description-width: 75%;
}

.project-container {
  //background: red;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.2em;
  align-items: center;
}

.project-title {
  font-size: var(--project-title-font-size);
}

.project-thumb {
  width: var(--project-thumb-width);
  border-radius: 8px;
}

.project-description {
  font-size: var(--project-description-font-size);
  font-family: 'Tajawal', sans-serif;
  color: var(--text-dark);
  text-align: justify;
  width: var(--project-description-width);
}

@media (min-width: 650px) {
  :root {
    --project-description-width: 68%;
    --project-thumb-width: 30%;
  }

  .project-container {
      flex-wrap: wrap;
      flex-direction: row;
      margin: 2% 5%;
      justify-content: space-between;
      &:nth-child(even) {
        flex-direction: row-reverse;
        & .project-title {
          text-align: right;
        }
      }
  }

  .project-title {
    flex-basis: 100%;
    text-align: left;
  }

  .project-thumb {
    //margin: 5px;
  }

  .project-description {
    align-self: flex-start;
    margin-left: 2%;
  }

}
