/*** Styles for Title.js ***/

:root {
  --title-font-size: 1.2em;
  --tagline-font-size: .75em;
}

.title {
  text-align: center;

  .headline {
    display: inline-block;
    color: #000;
    border: 1px solid;
    border-radius: 5px;
    padding: .3em;
    margin-top: 1em;
    margin-bottom: .5em;
    font-size: var(--title-font-size);
  }
  
  .tagline {
    margin-bottom: 2em;
    font-size: var(--tagline-font-size);
  }
  
  @media (min-width: 500px) {
    :root {
      --title-font-size: 1.6em;
      --tagline-font-size: 1em;
    }
  }
  
  @media (min-width: 650px) {
    :root {
      --title-font-size: 1.8em;
      --tagline-font-size: 1.2em;
    }
  }

}
