/*** Styles for Title.jsx ***/

//Component styles
.title {
  --title: 1.2em;
  --tagline: .75em;
  
  text-align: center;
  margin-bottom: 1em;
  width: 100%;

  // Headline styles
  .headline {
    display: inline-block;
    color: var(--text-color-default);
    border: 1px solid;
    border-radius: 5px;
    padding: .3em;
    margin-top: 1em;
    margin-bottom: .5em;
    font-size: var(--title);
  }
  
  // Tagline styles
  .tagline {
    font-size: var(--tagline);
  }
  

  /***** Media Queries *****/
  @media (min-width: 500px) {
    :root {
      --title: 1.6em;
      --tagline: 1em;
    }
  }
  
  @media (min-width: 650px) {
    :root {
      --title: 1.8em;
      --tagline: 1.2em;
    }
  }
}
