* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}

#root {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 16px;
  color: rgb(27, 34, 22);
}
