//Reset styles
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}

//Default font and color for app.
#root {
  --text-default: 16px;
  
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: var(--text-default);
  color: var(--text-color-default);
}
