:root {
    --text-dark: #000;

    // Font sizes
    --title: 1.2em;
    --tagline: .75em;
    
    --project-title: 2em;

    // Distances
    --project-description: 1em;
    --project-info-width: 80%;

    --thumb-width: 80%;
}

